app/Resources/wsdl/exposed/serviceTransco/com.grdf.serviceTranscoGDI.v1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2014 rel. 2 sp1 (http://www.altova.com) by CERISE (GDF SUEZ IT) -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="com.grdf.TranscoGDI.v1.0" xmlns:ns1="com.grdf.TranscoGDI.v1.0" targetNamespace="com.grdf.TranscoGDI.v1.0">
	<wsdl:types>
		<xsi:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema" xmlns:ns="com.grdf.TranscoGDI.v1.0" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="com.grdf.TranscoGDI.v1.0" targetNamespace="com.grdf.TranscoGDI.v1.0" elementFormDefault="unqualified">
			<xsi:complexType name="TEnvironnement">
				<xsi:sequence>
					<xsi:element name="projet" type="xsi:string" minOccurs="1" maxOccurs="1"/>
					<xsi:element name="echange" type="xsi:string" minOccurs="1" maxOccurs="1"/>
					<xsi:element name="source" type="xsi:string" minOccurs="1" maxOccurs="1"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:complexType name="TCritere">
				<xsi:sequence>
					<xsi:element name="NomCritere" type="tns:TNomCritere" minOccurs="1" maxOccurs="1"/>
					<xsi:element name="ValeurCritere" type="xsi:string" minOccurs="1" maxOccurs="1"/>
				</xsi:sequence>
			</xsi:complexType>
			<xs:simpleType name="TValeurRecherchee">
				<xs:restriction base="xs:string">
					<xs:enumeration value="CodeNatureIntervention"/>
					<xs:enumeration value="CodeNatureOpération"/>
					<xs:enumeration value="CreneauRDVDISCO"/>
					<xs:enumeration value="ATG"/>
					<xs:enumeration value="PR"/>
					<xs:enumeration value="Destinataire"/>
					<xs:enumeration value="Territoire"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="TNomCritere">
				<xs:restriction base="xs:string">
					<xs:enumeration value="TypeDeTravail"/>
					<xs:enumeration value="GroupeDeGamme"/>
					<xs:enumeration value="Compteur"/>
					<xs:enumeration value="ATG"/>
					<xs:enumeration value="PR"/>
				</xs:restriction>
			</xs:simpleType>
			<xsi:complexType name="TTRequeteTranscoGDIService">
				<xsi:sequence>
					<xsi:element name="valeurRecherchee" type="tns:TValeurRecherchee" minOccurs="1" maxOccurs="1"/>
					<xsi:element name="critere" type="tns:TCritere" minOccurs="1" maxOccurs="unbounded"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:complexType name="TCodeReponse">
				<xsi:sequence>
					<xsi:element name="codeRetour" type="xs:string"/>
					<xsi:element name="messageRetour" type="xs:string"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:complexType name="TTReponseTranscoGDIService">
				<xsi:sequence>
					<xsi:element name="valeurTrouvee" type="xs:string"/>
				</xsi:sequence>
			</xsi:complexType>
			<xsi:element name="TRequeteTranscoGDIService">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="requeteTranscoGDIServiceInput" type="tns:TTRequeteTranscoGDIService"/>
						<xsi:element name="env" type="ns1:TEnvironnement"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
			<xsi:element name="TReponseTranscoGDIService">
				<xsi:complexType>
					<xsi:sequence>
						<xsi:element name="reponseTranscoGDIServiceOutput" type="tns:TTReponseTranscoGDIService" minOccurs="0"/>
						<xsi:element name="codeReponse" type="tns:TCodeReponse"/>
					</xsi:sequence>
				</xsi:complexType>
			</xsi:element>
		</xsi:schema>
	</wsdl:types>
	<wsdl:message name="TranscoGDIServiceRequest">
		<wsdl:part name="TranscoGDIRequest" element="tns:TRequeteTranscoGDIService"/>
	</wsdl:message>
	<wsdl:message name="TranscoGDIServiceResponse">
		<wsdl:part name="TranscoGDIResponse" element="tns:TReponseTranscoGDIService"/>
	</wsdl:message>
	<wsdl:portType name="serviceTranscoGDIServicePort_v1.0">
		<wsdl:operation name="TranscoGDIService">
			<wsdl:input message="tns:TranscoGDIServiceRequest"/>
			<wsdl:output message="tns:TranscoGDIServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TranscoGDIServiceBinding" type="tns:serviceTranscoGDIServicePort_v1.0">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="TranscoGDIService">
			<soap:operation soapAction="urn:#TranscoGDIService" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TranscoGDIServiceServicePort_v1.0">
		<wsdl:port name="IS_Integration" binding="tns:TranscoGDIServiceBinding">
			<soap:address location="http://ines-r-dev-rct-app2.dr.gdf.fr:45320/ws/PivotAbonnementService.webservices:v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
